<!DOCTYPE html>
<html>
    <head>
        <%- include ./partials/head %>
    </head>
    <body>
      <header>
        <%- include ./partials/menubar %>
      </header>
        <h1>Welcome to Sekolah Budhi Pelangi!</h1>
        <!-- <a href="/teachers">See Teachers</a>
        <a href="/subjects">See Subjects</a>
        <a href="/students">See Students</a> -->
    </body>
</html>
