<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Welcome to Sekolah Budhi Pelangi!</h1>
        <a href="/teachers">See Teachers</a>
        <a href="/subjects">See Subjects</a>
        <a href="/students">See Students</a>
    </body>
</html>
