<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Students Add</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      </br>
      <form action="/students/add" method="post">
      <input type="text" name="first_name" placeholder="Student firstname" required>
      <input type="text" name="last_name" placeholder="Student lastname" required>
      <input type="text" name="email" placeholder="Student email" required>
      <input type="text" name="jurusan" placeholder="Student jurusan" required>
      <!-- <input type="text" name="contact_id" placeholder="Your contact id" required> -->
      <button type="submit">Submit</button>
    </form>
    <% if (msg !== null) { %>
      <span><%= msg.message %></span>
    <% } %>
    </br>
    <a href="/students">Cancel</a>
  </body>
</html>
